@import "colours";

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.App {
  flex: 1;
}

p {
  margin: 10px 0;
}

.back-arrow {
  height: 30px;
  width: 30px;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: $black;
}

// Dark Mode
body.dark {
  background-color: $black;
  color: $white;

  .footer-copy {
    color: $black;
  }

  .card {
    background-color: $black;
    color: $mainColour;
    border: 1px solid $mainColour;

    &:hover {
      background-color: $mainColour;
      color: $black;

      .card-link {
        border: 1px solid $black;
      }
    }
  }

  .skills-card,
  .react-card,
  .home-card {
    background-color: $mainColour;
    color: $black;
  }

  .card-link {
    background-color: $mainColour;
    padding: 0 10px;
    border-radius: 10px;
  }

  .projects {
    .projects-card {
      background-color: $black;
      color: $mainColour;
    }
  }

  .loading-spinner {
    color: $mainColour;
  }

  .content-wrapper {
    color: $black;
  }

  .contact-form-wrapper,
  .contact-form {
    background-color: $black;
    color: $mainColour;

    .submit-btn {
      background-color: $mainColour;
      color: $black;

      &:hover {
        border-color: $mainColour;
        color: $mainColour;
        background-color: $black;
      }
    }
  }

  .contact-form-wrapper {
    border: 1px solid $mainColour;
  }

  .form-title {
    color: $mainColour;
  }

  .back-to-home-btn {
    background-color: $mainColour;
    color: $black;

    &:hover {
      background-color: $black;
      border-color: $mainColour;
      color: $mainColour;
    }
  }
}

// Spinner
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
  color: $black;
}
