@import "colours";

// Projects page
.projects {
  &-grid-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 100px 10px;
    background-color: $mainColour;
    height: auto;
    padding: 10px 10px 50px;
    position: relative;

    @media (min-width: 768px) {
      margin: 30px 30px 100px 30px;
      border-radius: 80px;
      padding: 30px 30px 80px 30px;
    }

    @media (min-width: 992px) {
      justify-content: space-around;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: -30px;
      margin-bottom: 100px;
      padding: 50px 50px 80px 50px;
    }
  }

  &-label {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
  }

  &-card {
    background: $white;
    padding: 20px;
    border-radius: 10px;
  }

  &-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-title {
    margin-top: 0;
  }
}

// Home Page
.home {
  &-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px 100px 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      padding: 50px 50px 100px 50px;
    }

    @media (min-width: 992px) {
      margin-top: -80px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1400px) {
      padding: 50px 200px 100px;
    }
  }
}

// 404 page
.not-found {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: $white;
  }

  &-title {
    font-size: 100px;
    color: $mainColour;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 200px;
    }
  }

  &-message {
    font-size: 24px;
    color: $black;
    margin: 20px 0 50px 0px;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  &-home-link {
    text-decoration: none;
    color: $mainColour;
    font-weight: bold;
    padding: 20px 50px;
    border: 2px solid $mainColour;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 20px;

    @media (min-width: 768px) {
      font-size: 30px;
    }

    &:hover {
      background-color: $mainColour;
      color: $white;
    }
  }
}

// AboutMe Page
.content-wrapper {
  background-color: $mainColour;
  height: auto;
  margin: 10px 10px 100px 10px;
  padding: 20px 20px 80px;
  position: relative;

  @media (min-width: 768px) {
    margin: 20px 30px 100px 30px;
    border-radius: 80px;
    padding: 30px 50px 80px;
  }

  @media (min-width: 992px) {
    margin: -30px 100px 100px 100px;
    padding: 50px 80px;
  }
}

// Global elements
.back-link {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;

  @media (min-width: 768px) {
    right: 35px;
  }

  @media (min-width: 1024px) {
    right: 50px;
  }
}
