@font-face {
  font-family: "PatrickHandSC-Regular";
  src: url("../assets/fonts/PatrickHandSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PatrickHandSC-Regular", sans-serif;
}

p {
  font-size: 20px;
  font-weight: 800;
}

h2 {
  &.big-headline {
    font-size: 50px;
  }
}
